# docker-compose.yaml ~annotator~
services:
  db:
    image: postgres:13-alpine
    container_name: audio-saas-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - '5432:5432'
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: audio-saas-redis
    restart: always
    ports:
      - '6379:6379'

volumes:
  pg_data:
